@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* COLORS */
.bg-secondary-color {
  @apply bg-[#f6f6f6];
}

.text-secondary-color {
  @apply text-[#cecece];
}

.tertiary-color {
  @apply bg-[#e0fe67];
}

.cta-color {
  @apply bg-[#1b3a34];
}

/* PADDING */
.padding {
  @apply p-4 lg:p-6;
}

/* FLEXBOX */
.flexbox-between {
  @apply flex justify-between items-center;
}

.flexbox-center {
  @apply flex justify-center items-center;
}

/* FONT */
.hero-font {
  @apply text-[8vw] sm:text-[48px] md:text-[56px] lg:text-[64px] font-bold leading-tight;
}

/* SIZING */
.section-size {
  @apply h-[400px] lg:h-[550px] padding;
}
.max-width {
  @apply max-w-[1200px] mx-auto;
}
/* BUTTON */
.cta-btn {
  @apply px-4 py-2 rounded-full hover:opacity-70 transition-all duration-300;
}
