@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--background);
}

/*-------------------------- COLORS --------------------------*/
.bg-secondary-color {
  @apply bg-[#f6f6f6];
}

.text-secondary-color {
  @apply text-[#cecece];
}

.tertiary-color {
  @apply bg-[#e0fe67];
}

.cta-color {
  @apply bg-[#1b3a34];
}

/*-------------------------- PADDING --------------------------*/
.padding {
  @apply p-4 lg:p-6;
}

/*-------------------------- FLEXBOX --------------------------*/
.flexbox-between {
  @apply flex justify-between items-center;
}

.flexbox-center {
  @apply flex justify-center items-center;
}

/*-------------------------- FONT --------------------------*/
.hero-font {
  @apply text-[32px] sm:text-[48px] md:text-[56px] lg:text-[64px] font-bold leading-tight;
}

.subhero-font {
  @apply text-[24px] sm:text-[32px] md:text-[48px] lg:text-[52px] font-bold leading-tight;
}

.description-text {
  @apply text-secondary-color text-[12px] sm:text-[14px] md:text-[16px] lg:text-[18px];
}

/*-------------------------- SIZING --------------------------*/
.section-size {
  @apply h-[400px] lg:h-[550px] padding;
}

.max-width {
  @apply max-w-[1200px] mx-auto;
}

/*-------------------------- BUTTON --------------------------*/
.cta-btn {
  @apply px-4 py-2 rounded-full hover:opacity-70 transition-all duration-300;
}

/*-------------------------- DASHBOARD PAGE --------------------------*/
.parent-grid {
  @apply max-width padding grid grid-cols-1 gap-4;
}

.child-grid {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 0 0% 86%;
    --chart-2: 0 0% 49%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 74%;
    --chart-5: 0 0% 16%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 0 0% 86%;
    --chart-2: 0 0% 49%;
    --chart-3: 0 0% 60%;
    --chart-4: 0 0% 74%;
    --chart-5: 0 0% 16%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
